.contenedor{
	height:300px;
	width:500px;
	border: 1px solid gray;
}
.cuadrado1{
	height:100px;
	width:25%;
	background-color: #FFFF00;
	float: right;
}
.cuadrado2{
	height:100px;
	width:25%;
	background-color:#0174DF;
	float: right;
}
.cuadrado3{
	height:100px;
	width:25%;
	background-color:#DF0174;
	float: right;
}